<ion-header>
  <ion-navbar style="padding:25px 0px 20px 0px;">
    <button ion-button menuToggle start color="secondary" (click)="menu()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <h2 class="meu-progeto-titulo">DICIONÁRIO</h2>        
  </ion-navbar>
</ion-header> 
<ion-content class="transparente pantera"> 
  <ion-card *ngIf="item.descricao" class="novidades-card">
    <ion-card-content>
      <h2 class="video-card-titulo">
        {{ item.palavra }}
        <span class="video-card-tipo">Dicionário de Ontopsicologia</span>
      </h2> 
      <div class="video-card-desc" [innerHTML]="item.descricao"></div>   
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="item.descricao2" class="novidades-card">
    <ion-card-content>
      <h2 class="video-card-titulo">
        {{ item.palavra }}
        <span class="video-card-tipo">Étimo</span>
      </h2> 
      <div class="video-card-desc" [innerHTML]="item.descricao2"></div>   
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="item.descricao3" class="novidades-card">
    <ion-card-content>
      <h2 class="video-card-titulo">
        {{ item.palavra }}
        <span class="video-card-tipo">Conceitos</span>
      </h2> 
      <div class="video-card-desc" [innerHTML]="item.descricao3"></div>   
    </ion-card-content>
  </ion-card>
</ion-content>